RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_HOST=127.0.0.1

POSTGRES_USER=user
POSTGRES_PASSWORD=12345678
POSTGRES_DB=meu_banco
POSTGRES_PORT=9991
POSTGRES_HOST=127.0.0.1

JWT_SECRET=dkmkdnjndnkakldçlakpwij20o933jnknfkkmdml3fo3ddvdbkskdmvnkaof
REFRESH_SECRET=kmko4jinfij4j3kkpkkfmlpmldmkojfpolngndo93o3kfkml3mkfmo3flmlmklnjgnkf

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASS=12345678